:root {
  --cinzaClarinho: #f4f4f4;
  --cinzaClaro: #999999;
  --cinzaEscuro: #424242;
  --corPrincipal: #FDB92E;
  --corPClaro: #ffcb64;
  --corPEscuro: #b37700;
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 90vw; 
  max-width: 335px; 
  min-height: 200px;
  height: auto; 
  box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

.custom-modal-header {
  position: relative; /* Necessário para que o botão "X" possa ser posicionado absolutamente */
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  margin-bottom: 0px; /* Espaço abaixo do header */
  padding: 0 20px; /* Espaçamento interno lateral */
}

.custom-modal-header h2 {
  margin: 0;
  flex: 1; /* O <h2> ocupará o máximo espaço disponível à esquerda */
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.input-number {
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: black;
  font-size: 16px;
  border: 1px solid var(--cinzaClarinho);
  border-radius: 24px;
  background-color: var(--cinzaClarinho);
  font-weight: 400;
  width: 100%; /* Ajusta a largura ao tamanho do container */
  max-width: 300px; /* Largura máxima */
  height: 45px;
  box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

.alert-text {
  font-size: 19px;
  color: black;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espaçamento entre os botões */
  width: 100%; /* Ajusta a largura ao tamanho do container */
}

.cancel-button, .confirm-button {
  height: 45px;
  flex: 1;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 14px;
}

.cancel-button {
  background-color: white;
  color: var(--corPrincipal);
  border: 1px solid var(--corPrincipal);
}

.confirm-button {
  background-color: var(--corPrincipal);
  color: white;
}
