@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
:root {
    --cinzaClaro: #999999;
    --cinzaEscuro: #757575;
    --corPrincipal: #FDB92E;
    --corPClaro: #ffcb64;
    --corPEscuro: #b37700;
}

.container-chamados {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-prontos {
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
}

.chamando {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: black;
    border-radius: 30px;
    position: relative;
    min-height: 100%;
}
.chamando h1 {
    margin-left: 20px;
    font-size: 3.2em;
    font-weight: 700;
}
.senha-atual {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 20px;
}
.container-jachamados {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--corPrincipal);
    margin-left: 20px;
    margin-right: 20px;
}

.cima-chamando {
    display: flex;
}
.cima-chamando span {
    color: white;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.div-pessoa {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    gap: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.div-pessoa span {
    font-size: 27px;
    font-weight: 400;
    margin: 3px;
    color: black;
    font-variation-settings: 'FILL' 1;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
}
.name {
    font-size: 22px;
    padding-right: 10px;
    margin-left: -5px;
}
.ver-jachamados {
    padding: 8px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    display: flex;
    align-items: center;
    border: 1px solid white;
}
.ver-jachamados span {
}
.ver-jachamados.ativo {
    background-color: white;
    color: var(--corPrincipal);
}

.naoveio {
    display: flex;
    justify-content: space-between; /* Alinha o conteúdo ao longo do eixo horizontal */
    align-items: center; /* Alinha verticalmente ao centro */ /* Se necessário */
    color: #909090;
    margin-bottom: 10px;
}
.naoveio p {
    margin: 0;
}
.naoveio button {
    margin-left: auto;
    background: none;
    border: none; 
    color: inherit;
    padding: 0; 
    cursor: pointer;
    color: #9d9d9d;
}
.ver-chamados-btn {
    margin-left: auto;
    background: none;
    border: none; 
    color: inherit;
    padding: 0; 
    cursor: pointer;
    color: #9d9d9d;
    margin-right: 10px;
    font-weight: 800;
}
.ver-chamados-btn label {
    font-weight: 600; /* Torna o texto mais espesso */
}

.prontos {
    display: flex;
    list-style: none;
}

.ja-chamados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
}
.ja-chamados p {
    color: var(--cinzaClaro);
    font-weight: 700;
    font-size: 17px;
}

.pedidos-prontos {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
    background-color: rgb(255, 230, 230);
    border: 1px solid #ff8991;
}

.titulo-prontos {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
}