@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
}
:root {
    --cinza: #999999;
    --cinzaEscuro: #424242;
}

.container-proximos {
    width: 100%;
    border-radius: 30px;
    margin-top: 0px;
    padding-top: 1px;
    height: 100vh;
/* O contêiner ocupa o espaço restante */ 
}
.p-proximos {
    margin-top: 10px;
    text-align: center;
    font-weight: 650;
    font-size: 1.2rem;
}
.textinho {
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 1rem;
    color: #6c6c6c;
}
.filas {
    font-size: 18px;
    width: 100%;
    background-color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 20px;
    margin: 10px auto 0;
    margin-bottom: 15px;
    position: relative;
}
.filas-content {
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    border: none; /* Remove bordas */
    outline: none; /* Remove o contorno de foco */
    background: transparent; /* Remove o fundo */
    text-align: left;
    width: 50%; /* Garante que eles ocupem o mesmo espaço */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}
.senha {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 300;
    font-size: 1.7em;  
}
.code {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 200px; 
    gap: 5px;
}

.btn {
    width: 50px;
    height: 50px; 
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.lugar {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #BE0E19;
    border-radius: 30px;
    font-weight: 900px;
}

.titulo-proximos {
    margin-left: 0;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}


.invert-on-hover:hover {
    opacity: 100%;
}

.prontos {
    font-size: 18px;
    width: 100%;
    background-color: #ffeaea;
    height: 70px;
    display: flex;
    color: #BE0E19;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 30px;
    margin: 10px auto 0;
    margin-bottom: 15px;
    border: 1px solid #ffcfcf;
    position: relative;
}

.highlighted {
    background-color: #B17A5B;
    color: white;
    font-weight: 800;
}
.highlighted p {
    font-weight: 700;
}

.senha-user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas de tamanho igual */
    font-size: 20px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}
.p-senhauser {
    color: var(--cinzaEscuro);
    margin-left: 10px;
    grid-column: 1;
    font-size: 17px;
    font-weight: 700;
}
.senha-user button {
    grid-column: 3; 
    text-align: end;
    margin-right: auto;
    color: var(--cinza);
    font-weight: 600;
    margin-right: 10px
}
.p-proximos-semhigh {
    color: var(--cinzaEscuro);
    margin-left: 20px;
    grid-column: 1;
    font-size: 17px;
    font-weight: 700;
    margin-top: 2px;
}


.ver-tudo {
    background: none;
    border: none; 
    color: inherit;
    padding: 0; 
    cursor: pointer;
    color: #9d9d9d;
    margin-right: 0px;
}
.ver-tudo label {
    font-weight: 600;
}

.sino {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 48;
    font-size: 35px; /* Ajuste o tamanho */
    color: #9d9d9d; /* Cor do ícone */
    margin-right: 8px;
    cursor: pointer;
}
.sinoactive {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    font-size: 35px; /* Ajuste o tamanho */
    color: #ffffff; /* Cor do ícone */
    margin-right: 8px;
    cursor: pointer;
}
